<style type="text/css">
<!--

div {
  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
}

}
body { background-color:#FFFFCC;
     margin-left:100px; }
h1 { font-size:148pt;
     color:#000000;
     border-bottom:solid thin black; }
p,li  { font-size:12pt;
        line-height:14pt;
        font-family:Helvetica,Arial,sans-serif;
        letter-spacing:0.2mm;
        word-spacing:0.8mm;
        color:blue; }
-->
</style>
